
.title{
    font-size: 30px;
color: rgb(236, 14, 202);
text-align: center;
}

button {
    margin-bottom: 50px;
    padding: 0.8em 1.8em;
    border: 2px solid#a10ff0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #a10ff0;
    
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #a215b8;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}

.text-center{
    text-align: center;
}

#result{
    border: solid 2px black;
    text-align: center;
    font-size: 25px;
}

.btn2 {
    display: none;
    background-color: red;
}

.showBtn {
    display: inline;
}